main {
    color: white;
}
.fundal-contact {
background-image: linear-gradient(0deg,
rgba(0, 0, 0, 0.548),
rgba(20, 8, 15, 0.568)), url(../assets/images/contact.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50em;
    display: flex;
    justify-content: center;
}
.fundal-contact h1 {
   position: fixed;
   top: 14em;
   font-size: 35px;
}
article {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    
}
h1, h3 {
    text-transform: uppercase;
}
p {
    font-weight: 600;
}
article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0 4em;
}
article .management {
    padding-left: 7em;   
}
article .social-media {
    padding-right: 7em;
}
article .social-media ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.contact-article p {
    padding: 0.5em;
    margin: 0.5em;
}
.social-media h3 {
    padding: 0 0 3em 0;
}
article .social-media ul li {
    opacity: 0.7;
    transition: 0.5s;
    position: relative;
}
article .social-media ul li:hover {
    opacity: 1;
    top: -10px;
}
img {
    width: 3em;
    transition: 0.6s;
}
@media screen and (max-width: 870px) {
    article .management {
        padding-left: 0.5em;   
    }
    article .social-media {
        padding-right: 0.5em;
    }
}
@media screen and (max-width: 600px) {
    article  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;  
    }
    .management, .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .management :first-child {
        padding-bottom: 1em;
    }
    .management .band-info {
        padding-top: 1em;
    }
    .fundal-contact h1 {
        position: relative;
 }
}
