* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    
    width: 100%;
    height: 100vh;
    background-color: rgb(215, 222, 223);
}
.header-section {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
 
    background-color: rgb(0, 0, 0);
    z-index: 9;
    opacity: 0.7;
   
}
.header-section nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.header-section nav h1 {
    text-transform: uppercase;
    font-size: 3rem;

    color: white;

}
.header-section ul {
    justify-content: space-between;
 
    
}
.header-section nav h1, ul, .icons {
    margin: 1% 2%;

    
}
a, span {
    text-decoration: none;
    color: white;
    
    
}
.header-section ul li {
    padding: 15px 10px;
    display: inline-block;
    transition: 0.5s;


    text-transform: uppercase;
    font-size: 1.5rem;

}

/* ********************** */



.icons a span {
    font-size: 2rem;
    padding: 15px 5px;
    transition: 0.5s;

}

.icons a:first-child {
    display: none;
}



.material-icons {
    color: white;
    font-size: 3rem;
}

.header-section ul li:hover, span:hover {
    background: rgb(138, 65, 65);
    border-radius: 25px;
}
.background {
background-image: linear-gradient(0deg,
rgba(49, 17, 35, 0.548),
rgba(20, 8, 15, 0.568)), url(../assets/images/cover.jpg);


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.background > p {
    color: white;
    font-size: 3rem;
    margin-left: 5em;
    opacity: 0.8;
    font-family: 'Tangerine', serif;

}







/* Video Slider CSS: */
.videos {
    width: 60%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: auto;
}
.videos .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videos ul {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.videos ul li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: red;
    padding: 3xp 3px 0;
    opacity: 0.6;
    transition: 0.5s;

}
.videos ul li img {
    
    height: 90px;
    width: 120px;
    object-fit: cover;
    transition: 0.5s;
}
.videos ul li img:hover {
    height: 130px;
    width: 170px;
}

.videos ul li:hover {
    opacity: 1;
}
/* .videos ul li:not(:hover) {
    opacity: 0;
    transition: 10s;
} */